.vscode/

.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

*.tfvars
*.tfvars.json
*.tfplan
*.plan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl

.DS_Store
Thumbs.db
